
/* <!-----------BASE------------>*/
:root {
    --accent-color:#404BBF ;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
background-color: #fff;
   
}
/*============= Reset start ===========*/

h1,h2,h3,h4,h5,h6,p{
margin: 0 auto;
}

.list { list-style: none;
margin: 0;
padding: 0;
}

.link {
    text-decoration: none;
color: inherit;}

.button {
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
}
.address {
    font-style: normal;

}
img{
display: block;
}


/*============= Reset end ===========*/

.container {
width: 1158px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;

}

.visualli-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


/* <!-----------HEDER------------> */
.header {
 border-bottom: 1px solid #E7E9FC;

   
}
.header-container {
display: flex;

justify-content: space-between;
 }   

.header-nav {
    display: flex;
    align-items: center;
    
}
.header-nav-logo-link {
    display: flex;
    padding: 25.5px 0 25.5px;
    margin-right: 76px;
color: #4D5AE5;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;

}
.header-nav-logo-accent {
color: #2E2F42;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;


}
.header-nav-list {
    display: flex;
    gap: 40px;
    
}
.header-nav-item {
}
.header-nav-link {
    display: block;
    padding: 24px 0 24px;
    color: #2E2F42;
font-weight: 500;
line-height: 1.5; 
}
.header-nav-link:active { color: #404BBF;
text-decoration:underline;}
.header-nav-link:hover {color: #404BBF;
}
.header-nav-link:focus {color: #404BBF;
}
.address {
    display: flex;
    align-items: center;
    
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-item {
}
.address-link {
    padding: 24px 0 24px;
line-height: 1.5;
}
.address-link:active {color: #404BBF;}
.address-link:hover {color: #404BBF;}
.address-link:focus {color: #404BBF;}

/* <!-----------Section footer------------>*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2E2F42;
}

.container-footer{
    
    
    
    }
    .footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    .footer-logo-link-accent {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    }
    
    .footer-finish {
    
    margin-left: initial;
    width: 264px;
    color: #F4F4FD;
    line-height: 1.5; 
    
    }
    

/* <!-----------Section hero------------> */



.hero {background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.container-hero {
  
}

.hero-title {
 
max-width: 496px;
margin-bottom: 48px;
    color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;


}
.button {
margin: 0 auto;
 display: flex;
align-items: center;
display: block;
padding: 16px 32px;
background: #4D5AE5;
color: #FFF;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
text-align: center;
font-size: 16px;
background: #4D5AE5;
min-width: 169px;
height: 56px;
border: none;

}
.button:hover{
background: var(--accent-color);
}
.button:focus{
background: var(--accent-color);

}
/* <!-----------Section description------------> */

.section {
padding: 120px 0;
}

.description {
    
    
}
.description-list {
    display: flex;
gap: 24px;

}
.description-item {
    width: 264px;

}
.description-title {
margin-bottom: 8px;
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;

}
.description-p {
line-height: 1.5;

}


/* <!-----------Section about------------> */
.about { 
padding: 0 0 120px 0; 
}
.about-title {
width: 324px;
margin-bottom: 72px;
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
}
.about-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    
}
.about-item {
    width: 360px;
    border: 1px solid #E7E9FC;
}
.about-img {
  
}



/* <!-----------Section card------------> */
.card {
   
    
background: #F4F4FD;
}
.card-title {
width: 163px;
margin-bottom: 72px;
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
text-transform: capitalize;
letter-spacing: 0.02em;
}
.card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
.card-item {

border-radius: 0px 0px 4px 4px;
background-color: #FFF;
justify-content: center;
}
.card-img {

}
 
.card-div{
    content: 56px 232px;
    padding: 32px 0px;
    margin: 0px 16px;
}


.card-hero {
margin-bottom: 8px;
color: #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.card-hero-profesion {

    
text-align: center;
line-height: 1.5;
}




/*============= PORTFOLIO ===========*/



/*============= SECTION hero ===========*/
.button-hero {
padding-top: 96px;
padding-bottom: 120px;

}
.container-button {
    
}

.button-hero-list {
    display: flex;
   justify-content: center; 
    gap: 24px;
    margin-bottom: 72px;
}


.button-hero-item-button {
  padding: 12px 24px;

border: 1px solid  #E7E9FC;
color:#4D5AE5;
text-align: center;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background: #F4F4FD ;
}

.button-hero-item-button:hover{
color: #FFF;
background: #404BBF;
border: 1px solid transparent;
}
.button-hero-item-button:focus{
color: #FFF;
background: #404BBF;
border: 1px solid transparent;
}


/*============= SECTION card ===========*/


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px ;
    row-gap: 48px;
    
}
.list {
}
.portfolio-item {



}
.portfolio-link {
    

}
.link {
}
.portfolio-img {
   
} 

.portfolio-div{

padding: 32px 16px;
border: 1px solid #E7E9FC;
border-top: none;
}

.portfolio-link-title {
margin-bottom: 8px;
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;

}

.portfolio-link-p {line-height: 1.5;
    
}

/*
.card-portfolio-link {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.card-portfolio-link-link {
line-height: 1.5; 

}
*/

/*============= SECTION PORTFOLIO ===========*/